<div class="hero-unit">

<h1>Welcome to Ruby Prime!</h1>

<p>You've found the home page of the <%= link_to "Ruby Prime", "#" %> application.</p>



<p> 

	 <%= link_to "Sign Up Now!", '#', class: "btn btn-primary btn-large" %>


</p>
</div>

